<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="">
          {{ expansionDateColumn }}
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel
      *ngFor="let record of seizureRecords; let x = index"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      class=""
    >
      <mat-expansion-panel-header class="d-flex">
        <span class="d-flex justify-content-end">{{
          record[0].createdDate
        }}</span>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <table mat-table [dataSource]="record" class="mat-elevation-z8">
        <!-- <app-expansion-item
          [recordNumber]="i"
          [item]="item"e
        ></app-expansion-item> -->
          <ng-container matColumnDef="timeOfSeizure">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{element.timeOfSeizure}} </td>
          </ng-container>
          <ng-container matColumnDef="seizureStrength">
            <th mat-header-cell *matHeaderCellDef> Strength </th>
            <td mat-cell *matCellDef="let element"> {{element.seizureStrength}} </td>
          </ng-container>
          <ng-container matColumnDef="seizureType">
            <th mat-header-cell *matHeaderCellDef> Type(s) </th>
            <td mat-cell *matCellDef="let element"> {{element.seizureType}} </td>
          </ng-container>
          <ng-container matColumnDef="medicationChange">
            <th mat-header-cell *matHeaderCellDef> MC </th>
            <td mat-cell *matCellDef="let element"> {{element.medicationChange}} </td>
          </ng-container>
          <ng-container matColumnDef="medicationChangeExplanation">
            <th mat-header-cell *matHeaderCellDef> MC Expl. </th>
            <td mat-cell *matCellDef="let element"> {{element.medicationChangeExplanation}} </td>
          </ng-container>
          <ng-container matColumnDef="ketonesLevel">
            <th mat-header-cell *matHeaderCellDef> Ketones </th>
            <td mat-cell *matCellDef="let element"> {{element.ketonesLevel}} </td>
          </ng-container>
          <ng-container matColumnDef="sleepAmount">
            <th mat-header-cell *matHeaderCellDef> Sleep </th>
            <td mat-cell *matCellDef="let element"> {{element.sleepAmount}} </td>
          </ng-container>
              <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef> Notes </th>
                <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
              </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-spinner
    mode="indeterminate"
    *ngIf="loading"
    class="m-auto"
  ></mat-spinner>
  <nav class="d-flex justify-content-center p-3" aria-label="Page navigation example">
    <ul class="pagination">
      <li (click)="changePageNumber(page - 1)" class="page-item"><a (click)="$event.preventDefault()" style="color: #6610f2;" class="page-link" href="#">Previous</a></li>
      <li (click)="changePageNumber(index + 1)" *ngFor="let page of pageIterator; let index = index" class="page-item"><a (click)="$event.preventDefault()" class="page-link" style="color: #6610f2;" href="#">{{ index + 1 }}</a></li>
      <li (click)="changePageNumber(page + 1)" class="page-item"><a (click)="$event.preventDefault()" style="color: #6610f2;" class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div> 
