<!-- <div class="d-flex flex-column h-100">
    <div class="d-flex justify-content-center">
        <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select (selectionChange)="toggle($event.value)">
                <mat-option value="None">None</mat-option>
                <mat-option value="Daily Seizure Count - Current Year">Daily Seizure Count - Current Year</mat-option>
                <mat-option value="Daily Seizure Count - By Month">Daily Seizure Count - By Month</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div> -->